.footer-bg {
  background: var(--cor-9);
  display: flex;
  height: 245px;
  width: 100%;
  margin: auto;
  left: auto;
  right: auto;
  position: relative;
}
.div-footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
}

.footer-contato {
  color: white;
  display: flex;
  justify-content: space-between;
}
.footer-container {
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.footer-contato h3 {
  grid-column: span 2;
}

.footer-redes {
  width: 200px;
  display: flex;
  gap: 20px;
  justify-content: right;
  align-items: center;
}
.footer-copy{
  font-size: 0.75rem;
  font-style: italic;
}
.direitos-footer {
  display: grid;
  justify-content: center;
  bottom: 0;
  background: var(--cor-8);
  width: 100%;
  position: absolute;
  margin: auto;
}
.facebook {
  font-family: "segoe-ui", sans-serif;
  position: fixed;
  display: inline-block;
  background: var(--cor-8);
  color: white;
  padding: 10px 20px 0;
  cursor: pointer;
  border-radius: 10px 10px 0 0;
  right: -75px;
  top: 50vh;
  transform: rotate(270deg);
}
.whatsapp {
  display: none;
}

@media (max-width: 1200px) {
  .whatsapp {
    background-image: url(../Imagens/whatsapp.svg);
    position: fixed;
    display: inline-block;
    cursor: pointer;
    right: 0;
    top: 88vh;
    width: 80px;
    height: 80px;
  }
  .facebook {
    display: none;
  }
}
@media (max-width: 1000px) {
  .footer-bg{
    height: 200px;
  }
  .div-footer{
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    text-align: center;
    margin: 0 auto;
    justify-content: center;
  }
  .footer-container{
    flex-wrap: wrap;
    justify-content: center;
  }
  .footer-redes{
    justify-content: center;
  }

}

@media (max-width: 600px) {
  .footer-bg{
    height: 400px;
  }
  .div-footer{
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    text-align: center;
    margin: 0 auto;
    justify-content: center;
  }
  .footer-container{
    flex-wrap: wrap;
    justify-content: center;
  }
  .footer-redes{
    justify-content: center;
  }
}
