.sobre-bg{
  display: grid;
  grid-template-columns: 1fr 1fr;  
  max-width: 1800px;
  height: 600px;
  padding: 80px;
  background: var(--cor-12);
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  box-shadow: inset 0 -120px #ffffff, inset 0 120px #ffffff;
}
.foto-sobre{
  max-width: 900px;
  height: 600px;
  min-width: 500px;
}
.foto-sobre img{

  width: 100%;
  height: 600px;
  object-fit:cover;
  border-radius: 5px;
  object-position: center center;
}
.sobre h1{      
  margin-bottom: 80px;  
  margin-top: 100px;
  padding: 0;
  padding-left: 20px;  
  position: relative;
  margin-left: 20px;
}
.bt-galeria{
  margin-top: 20px;
}

.sobre h1::before{
  content: '';
  background: var(--cor-1);
  width: 10px;
  height: 50px;
  display: block;
  position: absolute;
  left: 1px;
  top: 10px;  
}

.texto-sobre{
  width:600px;  
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 40px;

  
}
.sobre-titulo{
  font-weight: 900
}
@media(max-width:1000px){
  .sobre h1::before{
    margin-top: 20px;
    display: none;
  }
  .foto-sobre{
    width: 0;
    height: 0;
  }
}
@media (max-width: 1200px){
  .sobre-bg{
    grid-template-columns: 1fr;
    padding-left: 0;
  }
  .foto-sobre img{
    display: none;
  }
}
@media (max-width: 600px){
 .sobre-bg{
   display: inline-block;
   width: 100%;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   
 }
 .sobre{
  display: flex;
  flex-wrap: wrap;
  width: 100%;   
  padding: 0;
  margin-top: 150px;
 }

 .sobre h1 {
  font-size: 1.75rem;
 
  margin: 0 auto 0 auto;
  
 }
 .sobre p{
   width: 100%;
   padding: 20px;
   margin: 0;
   font-size: 1rem;
 }
 .sobre .botao{
   margin-left: auto;
   margin-right: auto;
 }
 
}
